.no-href {
  text-decoration: none;
  cursor: default;
  color: #BFBFBF;
}

.browse {
width: 84vw;
color: #BFBFBF;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}

.header {
font-size: 1.5rem;
color: #BFBFBF;
margin-left: 0.3rem;
text-align: start;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search p {
  margin: 0;
  margin-left: 2vw;
  padding-bottom: 0.25rem;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}


.filtericons {
  position: relative;
  bottom: 0.1rem;
  margin-left: 0.5rem;
  width: 0.6rem;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.search {
  width: 67vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.searchbar_container {
  position: relative;
  max-width: 20vw;
  overflow: hidden;
  border-radius: 0.3rem;
}

.searchbar {
  width: 16vw;
  background-color: #262626;
  border: none;
  border-radius: 0.3rem;
  color: #BFBFBF;
  font-family: 'NTR', sans-serif;
  font-size: 1rem;
  padding: 0.2rem 2rem 0 2rem;
}

.searchbar::placeholder {
color: #BFBFBF;
opacity: 1;
}


.magnifier {
  position: absolute;
  height: 0.8rem;
  top: 0.75rem;
  left: 0.7rem;
}

.browse_container {
  width: 67vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}