.header_collection {
  font-size: 1.6rem;
  line-height: 150%;
  color: #BFBFBF;
  margin: 0;
}

.collection_game_properties {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.collection_game_description_image {
  width: 19.2vw;
  height: 15vw;
  margin-right: 2vw;
  border-radius: 0.4rem;
  background-size: cover;
}

.collection_game_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

.collection_game_description p {
  color: #BFBFBF;
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
}


.collection_game_description_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 15vw;
}
