.header_collection {
  font-size: 1.6rem;
  color: #BFBFBF;
  margin: 0 0 0 0.3rem;
}

.collection_game_properties {
  margin-left: 2vw;
  width: 52vw;
}

.collection_game_description p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
}

.games_liked p {
  margin: 0.2vw 2vw;
}

.games_liked {
  background-color: #262626;
  width: 11.5vw;
  border-radius: 0.3rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.collection_game_description {
  width: 84vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  margin-bottom: 4vw;
}
