.collection_game {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.5vw;
  margin-right: 2vw;
  margin-bottom: 3vw;
  cursor: pointer;
}

.collection_game:hover .mask_collection_game {
  opacity: 0.3;
}

.collection_game_image {
  width: 100%;
  height: 15.5vw;
  background-color: #262626;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4rem;
}

.mask_collection_game {
  width: 100%;
  height: 15.5vw;
  background-color: #262626;
  position: absolute;
  z-index: 2;
  border-radius: 0.4rem;
  opacity: 0;
  cursor: pointer;
  transition: 0.15s linear;
}

.collection_game_name {
  font-size: 0.8rem !important;
  line-height: 0.8rem !important;
  margin: 1.5rem 0 0.8rem 0 !important;
}

.collection_game_description {
  width: 84vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  margin-bottom: 4vw;
}

.collection_game_description p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
}

.collection_game_edit {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  transition: 0.5s linear !important;
  z-index: 5;
}

.collection_game_delete {
  position: absolute;
  top: 2.7rem;
  right: 0.7rem;
  transition: 0.5s linear !important;
  z-index: 5;
}

.collection_game_delete, .collection_game_edit {
  color: #BFBFBF;
}

.collection_game_delete:hover, .collection_game_edit:hover {
  color: white;
}