.home_picture {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card {
  border-radius: 1rem;
}

.home_icons {
  width: 6vw;
  height: 4vw;
  margin-top: 2.5vw;
  margin-bottom: 1vw;
  background-size: contain!important;
}

.homeImageMask {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.homeImageText {
  width: 60%;
  line-height: 150%;
  font-weight: 400;
}

.homeImageMask p {
  font-size: large;
  margin-bottom: 0.5rem;
}

.homeImageMask h2 {
  color: white;
  margin: 0;
}

.homeLink {
  margin-bottom: 0.5vw;
}

.homeLogo {
  width: 3rem;
  height: 2.5rem;
  background-image: url("../../../public/img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2vw;
}