.home_picture {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card {
  border-radius: 1rem;
}

.home_icons {
  width: 4rem;
  height: 4rem;
  margin: 1.7rem 0 0.5rem 0;
  background-size: contain!important;
}

.homeImageMask {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.homeImageText {
  width: 60%;
  line-height: 150%;
  font-weight: 400;
}

.homeImageMask p {
  font-size: large;
  margin-bottom: 5vw;
}

.homeImageMask h2 {
  color: white;
  margin: 0;
}
