.sortingTable {
  width: 15vw;
}

.sortingSelect {
  padding: 0.2rem 0.5rem;
}

#demo-simple-select-standard:focus {
  background-color: #121212 !important;
}

.sortingComponentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sortingComponentContainer p {
  color: #BFBFBF !important;
}