.head {
  margin: 0 0 0.5rem 0 !important;
  color: white;
}

.game_header {
  margin: 0;
  font-size: 1.6rem;
  line-height: 150%;
}

.game_container {
  width: 84vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.game_picture {
  width: 28vw;
  min-height: 24vw;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.game_details {
  width: 53.5vw;
  min-height: 24vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  color: #BFBFBF;
}

.game_description {
  width: 40vw;
  min-height: 24vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.description_line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.description_name {
  color: #666666;
  line-height: 1.3rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.description_text {
  line-height: 1.3rem;
  padding: 0;
  margin: 0;
  margin-left: 0.3rem;
  color: #BFBFBF;
  font-size: 1rem;
}

.last_name {
  margin-top: 1rem !important;
}

.last_text {
  margin: 0;
}

.vertical_line {
  height: 2.5rem;
  width: 0.1vw;
  background-color: #262626;
  border-radius: 0.1rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  margin: 0 1rem;
}

.large {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: white;
  margin: 0;
  padding: 0;
}

.small {
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: 666666;
  margin: 0;
  padding: 0;
}

.right_column {
  width: 13vw;
  min-height: 22vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.description_add {
  cursor: pointer;
  background-color: #7135F2;
  border-radius: 0.4rem;
  margin: 0;
  margin-bottom: 0.3rem;
  transition: color 0.15s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_text {
  font-size: 1.1rem;
  padding: 0;
  margin: 0.05rem 1.85rem;
}

.description_add:hover {
  color: white;
}

.description_game_rating {
  width: 9vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0.5rem;
}

.description_number {
  margin: 0;
  font-size: 1rem !important;
  margin-top: 0.6rem !important;
  color: white;
}

.description_average {
  font-size: 0.7rem !important;
  margin-top: 0 !important;
  line-height: 0.5rem !important;
  color: white;
}

.vertical_block {
  margin: 1.3rem 0;
  ;
}


.description_back_link {
  margin: 0;
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.description_link {
  color: #BFBFBF;
  cursor: pointer;
  margin: 0;
  margin-left: 0.3rem;
}

.description_filtericon {
  height: 0.5rem;
  position: relative;
  top: -0.05rem;
}

.game_edit {
  margin: 0 1rem;
}

.game_delete,
.game_edit {
  color: #BFBFBF;
  transition: 0.5s linear !important;
  position: relative;
  bottom: -0.5vw;
}



.game_delete:hover,
.game_edit:hover {
  color: white;
}

.admin_game_options {
  display: flex;
  flex-direction: row;
}


.tabs {
  width: 67vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #BFBFBF;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}

.tab {
  padding: 0 0.4rem;
  cursor: pointer;
  margin-right: 1.6rem;
  transition: 0.15s linear;
  border: none;
}

.tab:hover {
  color: white;
}

.active {
  color: white;
  border-bottom: 3px solid #7135F2;
}

.tab_content {
  width: 62vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.tab_content p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0.5rem 0;
}

.main_container {
  width: 84vw;
  color: #BFBFBF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
