.game_form {
  width: 100%;
}

.game_form_image {
  width: 100%;
  min-height: 15vw;
  margin-bottom: 2vw;
  background-size: cover;
  border-radius: 0.5rem;
  background-color: #262626;
  background-position: center;
}