.filters {
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.1rem;
}

.line {
  width: 100%;
  background-color: #262626;
  height: 0.1rem;
}

.head {
  margin: 0 0 0.5rem 0 !important;
  color: white;
}

.filter, .head{
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.filters p {
  margin: 0;
  padding: 0;
  cursor: default;
}

.clickable {
  cursor: pointer !important;
  z-index: 2;
}

.filtericons {
  position: relative;
  bottom: 0.1rem;
  margin-left: 0.5rem;
  width: 0.6rem;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.filterUnit {
  width: 100%;
}

.hidden {
  display: none;
}

.filter:hover .filterMask {
  background-color: #202020!important;
}

.filterMask {
  position: absolute;
  top: -0.5;
  left: -0.4rem;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  transition: 0.2s linear;
}

.selected {
  background-color: #242424;
}

.notSelected {
  background-color: transparent;
}