#root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'NTR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden !important;
  background-color: #121212;
}

a,
a:visited,
a:active {
  text-decoration: none !important;
  color: #BFBFBF;
  transition: 0.1s linear;
}

a:hover {
  color: white;
}

input,
textarea {
  color: #BFBFBF !important;
  font-family: 'NTR' !important;
}